.main{
    display: block;
    overflow: scroll !important;
    position: absolute;
    height: 100%;
    background: #f2f2f2;
  &__content{
    background: #f2f2f2;
    width: auto;
    padding-left: 130px;
    padding-top: 100px;
  }
  &__description{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #333;
    width: 55%;
    margin-bottom: 30px;
  }
}