.header{
    width: 100%;
    height: 65px;
    position: fixed;
    z-index: 1001;
    padding-left: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__content{
        width: 100%;
        border-top-left-radius: 40px;
        background-color: #fff;
        position: relative;
        right: 43px;
        margin-top: 14px;
    }
    &__title{
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: #333;
        padding-left: 43px;

    }
}
