@import "blocks/App.scss";
@import "blocks/Header.scss";
@import "blocks/Sidebar.scss";
@import "blocks/Container.scss";
@import "blocks/Normalize.scss";


html, body{
 	overflow: hidden;
    position: relative;
    height: 100%;
} 